@media screen and (max-width: 1200px) {
  #chat{
    width: 25vw;
    height: 35vw;
    border-radius: 0 40px 0 40px;
    right: -100%;
  }
}
@media screen and (max-width: 1000px) { 
  main {
    margin: 0 70px;
  }

  #recent-works {
    margin: 100px 0 200px;
  }

  .our-serveces_service {
    padding: 25px 10px;
  }

  .service__arrow {
    right: 10px;
    height: 100%;
    width: 60px;
  }

  .our-serveces_service:hover > .service__arrow {
    right: 5px;
  }

  .service__number {
    margin-right: 50px;
  }

  .recent-work__arrow {
    width: 70px;
    height: 70px;
    bottom: 0px;
    left: 30px;
    font-size: 1.5em;
  }

  h2 {
    font-size: 4em;
  }

  #recent-works > .container {
    margin: 90px 0 50px;
    row-gap: 100px;
  }
  #chat{
    width: 35vw;
    height: 45vw;
    border-radius: 0 40px 0 40px;
    right: -70%;
  }
  .chat__button{
    width: 6vw;
    height: 6vw;
  }
  
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  main {
    margin: 0 50px;
  }

  .main-header__nav {
    padding: 15px 30px;
  }

  .all-works__arrow {
    width: 80px;
    height: 80px;
  }

  .all-works {
    font-size: 2em;
  }

  .all-works > span {
    margin-right: 40px;
  }

  #our-service > h2 {
    margin-bottom: 40px;
  }
  #chat{
    width: 40vw;
    height: 50vw;
    border-radius: 0 35px 0 35px;
    right: -60%;
  }
  .chat__button{
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width: 700px) {
  #chat{
    width: 45vw;
    height: 55vw;
    border-radius: 0 35px 0 35px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  #recent-works {
    margin: 100px 0 100px;
  }

  #recent-works > .container {
    flex-direction: column;
    margin: 50px 0;
    row-gap: 60px;
  }

  .recent-work {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .recent-work__arrow {
    width: 80px;
    height: 80px;
    bottom: 0px;
    left: 30px;
    font-size: 1.5em;
  }

  .recent-work__name {
    font-size: 2em;
  }

  .recent-work__service-type {
    font-size: 1.2em;
  }

  .service__description {
    font-size: 1.2em;
  }

  .our-serveces_service:hover > .service__description {
    padding-left: 15px;
  }

  .service__number {
    margin-right: 20px;
  }

  .service__arrow {
    right: 10px;
    height: 60%;
    width: 50px;
  }

  .our-serveces_service:hover > .service__arrow {
    right: 5px;
  }

  .header__subtitle {
    padding: 0 10px;
  }

  .nav__to-auth,
  .nav__links {
    display: none;
  }

  .nav__menu-button {
    display: block;
  }

  .burger-menu_active {
    display: flex;
  }
  
  #chat{
    width: 50vw;
    height: 70vw;
    border-radius: 0 25px 0 25px;
    right: -80%;
  }
  
  .chat__button{
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-width: 500px) {
  #chat{
    width: 60vw;
    height: 80vw;
    border-radius: 0 30px 0 30px;
    bottom: 3%;
    right: -100%;
  }
}

@media screen and (max-width: 400px) {
  main {
    margin: 0 20px;
  }

  .header__subtitle {
    font-size: 0.6em;
  }
  
  #chat{
    width: 80vw;
    height: 110vw;
    border-radius: 0 20px 0 20px;
    right: -100%;
  }
  
  .chat__button{
    width: 13vw;
    height: 13vw;
  }
}
