@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import './vars.css';

@font-face {
  font-family: "NeutralFace";
  src: url(../fonts/NeutralFace.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  color: #fff;

  /* temporary */
  font-family: 'NeutralFace', sans-serif;
  font-size: 16px;

  background-image: url(../icons/noise-bg.png);
  background-position: left left;
  background-blend-mode: hard-light;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.92;
}

main {
  margin: 0 145px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color .18s ease-out;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 5.3125em; /* 85px */
}


/* header */

.main-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-header canvas {
  position: absolute;
  width: 100%!important;
  height: 100%!important;
}

.header__team-name {
  font-size: 5em;
  z-index: 1;
}

.main-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  padding: 15px 60px;

  background: #121212;

  z-index: 2;
}

.main-header__nav > * {
  width: 33%;
}

.nav__logo {
  font-size: 1.5em; /* 24px */
}

.nav__links {
  display: flex;
  list-style-type: none;
}

.nav__links > li {
  text-transform: uppercase;
  margin-right: 90px;
  font-size: 0.875em; /* 14px */
}

.nav__links > li:hover > a {
  color: var(--primary-color);
}

.nav__to-auth {
  display: flex;
  justify-content: flex-end;
}

.nav__to-auth > a {
  padding: 10px 25px;
  text-transform: uppercase;
  border: 1px solid #656565;
  transition: all .21s ease-out;
}

.nav__to-auth > a:hover {
  border: 1px solid var(--primary-color);
}

.nav__to-auth > a:first-child {
  margin-right: 10px;
}


/* main */

#recent-works {
  margin: 100px 0 400px;
}

#recent-works > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  margin: 150px 0;
  row-gap: 125px;
}

.recent-work {
  margin-right: 60px;
  width: var(--recent-work-width);
  height: 655px;
  overflow: hidden;
  position: relative;
}

.recent-work:hover > a {
  position: relative;
}

.recent-work:hover > a > img {
  transition: transform 0.74s ease-out;
  transform-origin: top;
}

.recent-work:hover > a:hover > img {
  transform: scale(1.05);
}

.recent-work__arrow {
  width: 120px;
  height: 120px;

  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  bottom: 0px;
  left: 30px;
  color: #3A3A3A;
  font-size: 2em;
  line-height: 1;

  z-index: 1;
  border-radius: 50%;
  background: #FFFF80;

  opacity: 0;
  transition: all .31s ease-in-out;
  transform: translateY(-70%);
}

.recent-work:hover > a:hover > .recent-work__arrow {
  opacity: 1;
  transform: translateY(-90%);
}

.recent-work__header {
  border-bottom: 1px solid #656565;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.recent-work__name {
  display: inline;
  margin-right: 15px;
  font-size: 1.625em; /* 26px */
}

.recent-work__service-type {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  color: #CACACA;
}

.recent-work__preview {
  cursor: pointer;
  width: var(--recent-work-width);
}

.all-works {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.75em; /* 44px */
}

.all-works > span {
  margin-right: 70px;
  transition: color .21s ease-in-out;
}

.all-works__arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  font-weight: 400;
}

.all-works__arrow > img {
  position: absolute;
  transition: transform .21s ease-in-out;
}

.all-works:hover .all-works__arrow > img {
  transform: translateX(110%);
}

.all-works:hover > span {
  color: var(--primary-color);
}

#our-service {
  padding-bottom: 100px;
}

#our-service > h2 {
  margin-bottom: 80px;
}

.our-serveces_service {
  display: flex;
  align-items: center;
  position: relative;

  padding: 35px;
  border-top: 1px solid #3A3A3A;
  border-bottom: 1px solid #3A3A3A;
}

.service__number {
  color: #959595;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  margin-right: 100px;
}

.service__description {
  text-transform: uppercase;
  font-size: 1.5em; /* 24px */
  color: #DFDFDF;
  transition: all .21s ease-in-out;
}

.service__arrow {
  position: absolute;
  right: 35px;

  height: 100%;
  width: 60px;

  background-image: url("../icons/our-projects/our-service-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transition: all 0.21s ease-in-out;

  transform-origin: right;
}

.our-serveces_service:hover > .service__description {
  color: var(--primary-color);
  padding-left: 35px;
}

.our-serveces_service:hover > .service__arrow {
  right: 25px;
  background-image: url("../icons/our-projects/our-service-arrow-active.svg");
}
