@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --recent-work-width: 540px;
}

body {
  position: relative;
  color: #fff;

  /* temporary */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  background-image: url(../icons/noise-bg.png);
  background-position: left left;
  background-blend-mode: hard-light;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.92;
}

main {
  margin: 0 145px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 5.3125em; /* 85px */
}

#home {
  height: 100vh;
}

#recent-works {
  margin-bottom: 400px;
}

#recent-works > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  margin: 150px 0;
  row-gap: 125px;
}

.recent-work {
  margin-right: 60px;
  width: var(--recent-work-width);
}

.recent-work__header {
  border-bottom: 1px solid #656565;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.recent-work__name {
  display: inline;
  margin-right: 15px;
  font-size: 1.625em; /* 26px */
}

.recent-work__service-type {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  color: #CACACA;
}

.recent-work__preview {
  cursor: pointer;
  width: var(--recent-work-width);
}

.all-works {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.75em; /* 44px */
}

.all-works > span {
  margin-right: 70px;
  transition: color .21s ease-in-out;
}

.all-works__arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #E02929;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  font-weight: 400;
}

.all-works__arrow > img {
  position: absolute;
  transition: transform .21s ease-in-out;
}

.all-works:hover .all-works__arrow > img {
  transform: translateX(110%);
}

.all-works:hover > span {
  color: #F42828;
}

#our-service {
  padding-bottom: 100px;
}

#our-service > h2 {
  margin-bottom: 80px;
}

.our-serveces_service {
  display: flex;
  align-items: center;
  position: relative;

  padding: 35px;
  border-top: 1px solid #3A3A3A;
  border-bottom: 1px solid #3A3A3A;
}

.our-serveces_service:hover > .service__description {
  color: #F42828;
}

.service__number {
  color: #959595;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  margin-right: 100px;
}

.service__description {
  text-transform: uppercase;
  font-size: 1.5em; /* 24px */
  color: #DFDFDF;
  transition: color .21s ease-in-out;
}

.our-serveces_service > img {
  position: absolute;
  right: 35px;
  transition: right .21s ease-in-out;
}
