@import './vars.css';

.input__container {
  position: relative;
  width: 100%;
}

.input_primary {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 25px;

  color: #FFFFFF;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  background: none;
  outline: none;

  transition: all .18s ease-out;
}

.input_primary:invalid {
  border-bottom: 1px solid var(--danger-color);
}

.input_primary.input_start {
  border-bottom: 1px solid #b6b6b6;
}

.input_primary:hover {
  border-bottom: 1px solid #bda674;
}

.input_primary:focus {
  border-bottom: 1px solid var(--primary-color);
}

.input__container label {
  position: absolute;
  top: calc(50% - 25px / 2);
  left: 0;
  background: none;

  color: #6C6C6C;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all ease-out .18s;
  user-select: none;
}

.input_primary:invalid ~ label {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.7em;
}

.input_primary.input_start ~ label {
  top: calc(50% - 25px / 2);
  transform: translateY(-50%);
  font-size: 1em;
}

.input_primary:focus ~ label {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.7em;
}

.input_primary:valid ~ label {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.7em;
}

.input_active ~ label {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.7em;
}

.button_primary {
  font-size: 16px;
  padding: 15px 30px;
  background: var(--primary-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all ease-out .18s;
}

.button_primary:hover {
  background: var(--primary-hover-color);
}
